<div class="flex-column min-100-vh">
  <div class="hero dash-header">
    <h1 class="app-title">{{name}}'s Dashboard</h1>
    <button class="create-blog-btn" type="submit" class="btn"><a href="/createPost">➕ New Blog Post</a></button>
  </div>

  {{#if posts.length}}
  <div class="container">
    <h3>User's Blogs</h3>
    <div class="user-blogs">
      {{#each posts as |blog|}}
      <div class="card" id="blog-card">
        <div="card-body">
          <h4="card-title">{{blog.title}}</h4>
          <h5="card-meta">Posted on {{format_date blog.date_created}}</h5>
          <button class="btn"><a href="/blog/{{blog.id}}">See Blog</a></button>
          <button class="btn" data-id="{{blog.id}}">Delete Blog</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="/js/dash.js"></script>
{{/if}}
