<div class="flex-column min-100-vh">
  <div class="hero dash-header">
    <h1 class="app-title"><a href="/dash">{{name}}'s' Dashboard</a></h1>
  </div>
  <button type="submit" class="btn"><a href="/createPost">➕ New Blog Post</a></button>

  {{#if blogs.length}}
  <div class="container">
    <h3>User's Blogs</h3>
    <div class="user-blogs">
      {{#each blogs as |blog|}}
      <div id="blog-card">
        <div="card-body">
          <h4="card-title">{{blog.title}}</h4>
          <h5="card-meta">Posted on {{format_date blog.date_created}}</h5>
          <button class="btn"><a href="/blogs/{{blog.id}}">See Blog</a></button>
          <button class="btn" data-id="{{blog.id}}">Delete Blog</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="/js/dash.js"></script>
{{/if}}
