{{#each blog as |blog| }}
<div class="row mb-4 project">
  <div class="col-md-5 card">
    <h2>
      <a href="/blog/{{id}}">{{title}}</a>
    </h2>
    <div class="description">{{blog.description}}
      <p>Posted: {{User.name}} on {{format_date createdAt}}</p>
    </div>
  </div>
  <div class="col-md-7">
      {{body}}
  </div>
</div>
{{/each}}